ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    overflow: hidden;
  }
li{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: justify;
    padding: 10px 12px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: rgb(233, 163, 34);
  }
.active{
    background-color: orangered;
}
.carrito{
    height: 50px;
    align-items: flex-end;
    width: 50px;
    float: right;
}
.a{
    height: 50px;
    width: 50px;
}

.imagenes{
    width: 200px;
    height: 200px;
}