*{
    box-sizing: border-box;
}
body {
    background-color: rgb(250, 244, 235);
    margin: 0%;
}

h1{
    font-size: 25px;
}

p{
    font-size: 15px;
}

button {
    font-size: 30px;
    font-weight: bold;
    padding: 2px 5px;
    box-shadow: 1px 1px 5px;
    border-radius: 8px;
    color: black;
    background-color: rgb(255, 142, 97);
}

button:hover {
    background-color: rgb(243, 108, 54);
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: rgb(243, 108, 54);
}

#somos-entre-panes{
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 320px;
    padding: 40px;
}

#final h4{
    font-size: 20px;
}

footer {
    margin: 0%;
    font-size: 15px;
    color: gray;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}